html {
	 background-color:#EFEFEF;
};

#superior {
	    margin-left: 20px;
	    margin-right: 20px;
	    background-color: black;

}
 

#navegador {
	margin: 60px;
}

#encabezado {
		background-color: #272727;
}

#navegador #encabezado .personalData {
	background-color: #272727;
}

#navegador #encabezado .box {
background-color: #434343;
	float:left;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(15, 15, 15, .75);
	box-shadow: 0px 0px 15px 5px rgba(15, 15, 15, .75);
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

#navegador #encabezado .box:hover {
	-webkit-box-shadow: 0px 0px 15px 10px rgba(100, 100, 100, .75);
	box-shadow: 0px 0px 15px 10px rgba(100, 100, 100, .75);
}





#columIzq {
	background-color:white;
}

#columDer{
	background-color:white;
}

#columDer h3 {
	font-family: "Myriad Pro", Tahoma, Verdana;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #dcdcdc;
	letter-spacing: 1.80px;
	word-spacing: 10px;
};

h3 {
	font-family: "Myriad Pro", Tahoma, Verdana;
	font-size: 1.8rem;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #dcdcdc;
	letter-spacing: 1.80px;
	word-spacing: 10px;
}



#columIzq .perfilProfesional {
	font-family: "Myriad Pro", Tahoma, Verdana;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
}

#columIzq .perfilProfesionalDescr {
	font-family: "Myriad Pro", Tahoma, Verdana;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
}

img {
	height: 34px;
	width: 34px;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

img:hover {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

a {
	text-decoration: none;
	color: white;
}

#pie {
		background-color:white;
}

#navegador #pie h6 {
	font-family: "Myriad Pro", Tahoma, Verdana;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: bold;
	text-align:center;
}

