@font-face {
    font-family: myriad;
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
    font-weight: bold;
}

html {
	font-family: sans-serif;
}


body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

position: relative; 

}

#top h1 {
	background-color: white;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

#formulario {
	margin:0;
}


.formPag {
	background-color: #ececec;
	border: 5px solid #dcdcdc;
	border-radius: 25px;
	box-shadow: 10px 10px gray;
	min-width: 25px;

}

.formPag h2 {
	margin-top: 0;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 30px;


}

input {
	    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
}

textarea {
	    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

#CV {
}

#top {
	margin-bottom: 20px;
}

#barraHerramientas {
	margin-bottom: 50px;
}

#encabezado {
	background-color:#272727;
	min-height: 150px;
}



.redondeado {
	border-radius: 100px;
}

img.left {float:left;margin-right:10px;}

#columIzq {
	background-color:#f7f7f7;
	min-height: 764px;
}

#columDer{
	background-color:#f7f7f7;
	min-height: 764px;
}

#pie {
	background-color:#f7f7f7;
}

#encabezado h1 {
	color:white;
	text-transform: uppercase;
	font-weight: bolder;
		font-family: myriad;
}

#encabezado h4 {
	color:white;
	font-weight: bold;
}

h2 {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #dcdcdc;
}

p{
	color:black;
}

#columIzq h1 {
	padding-left: 30px;
}

#columIzq h4 {
	text-align: right;
}

#columIzq h3 {
	color:black;
}

#columDer h3 {
	color:black;
	font-weight: bold;
	text-transform: uppercase;
}

#pie h4 {
	color:black;
	font-weight: bold;
	text-align: center;
}

.centrado {
	position:center;
	background-color: black;
}

footer {
	display:block;
	margin-top: 50px;
	color: blue;
}

footer p {
	color: blue;
}


page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}


  .affix {
      top:0;
      z-index: 9999 !important;
      margin: auto;
  }


  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }

 #logo {
 	width: 25%;
 	height: 25%;
 }

  

