@font-face {
    font-family: myriad;
    src: url(../fonts/MYRIADPRO-BOLD.OTF);
    font-weight: bold;
}

html {
	font-family: sans-serif;
}


body {
	background-color: whites;
}


#CV {
}

#top {
	margin-bottom: 20px;
}

#barraHerramientas {
	margin-bottom: 50px;
}

#encabezado {
	background-color:#272727;
	min-height: 150px;
}



.redondeado {
	border-radius: 100px;
}

img.left {float:left;margin-right:10px;}

#columIzq {
	background-color:#f7f7f7;
	min-height: 764px;
}

#columDer{
	background-color:#f7f7f7;
	min-height: 764px;
}

#pie {
	background-color:#f7f7f7;
}

#encabezado h1 {
	color:white;
	text-transform: uppercase;
	font-weight: bolder;
		font-family: myriad;
}

#encabezado h4 {
	color:white;
	font-weight: bold;
}

h2 {
	color: black;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #dcdcdc;
}

p{
	color:black;
}

#columIzq h1 {
	padding-left: 30px;
}

#columIzq h4 {
	text-align: right;
}

#columIzq h3 {
	color:black;
}

#columDer h3 {
	color:black;
	font-weight: bold;
	text-transform: uppercase;
}

#pie h4 {
	color:black;
	font-weight: bold;
	text-align: center;
}

.centrado {
	position:center;
	background-color: black;
}

footer {
	display:block;
	margin-top: 50px;
	color: blue;
}

footer p {
	color: blue;
}


page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

